<section id="advantages" class="advantages aos">
  <div class="container">
    <div class="advantages-text">
      <h2 class="advantages-text__title">Погрузись <strong>в иной мир</strong></h2>
      <ul class="advantages-text__list">
        <li class="advantages-text-item">
          <span class="advantages-text-item__num">6</span>
          <span class="advantages-text-item__advantage">увлекательных квестов</span>
        </li>
        <li class="advantages-text-item">
          <span class="advantages-text-item__num">500</span>
          <span class="advantages-text-item__advantage">рублей скидка в честь Дня рождения</span>
        </li>
        <li class="advantages-text-item">
          <span class="advantages-text-item__num">1000+</span>
          <span class="advantages-text-item__advantage">довольных клиентов</span>
        </li>
      </ul>
    </div>
    <picture>
      <source srcset="./img/other/woman-in-water.avif 1x, ./img/other/woman-in-water@2x.avif 2x, ./img/other/woman-in-water@3x.avif 3x" type="image/avif">
      <source srcset="./img/other/woman-in-water.webp 1x, ./img/other/woman-in-water@2x.webp 2x, ./img/other/woman-in-water@3x.webp 3x" type="image/webp">
      <img loading="lazy" src="./img/other/woman-in-water.jpg" scrset="./img/other/woman-in-water@2x.jpg 2x, ./img/other/woman-in-water@3x.jpg 3x" class="advantages__img"
        alt="Девушка в кубе с водой">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x, ./img/bubble/bubble@3x.webp 3x">
      <source type="image/avif" srcset="./img/bubble/bubble.avif, ./img/bubble/bubble@2x.avif 2x, ./img/bubble/bubble@3x.avif 3x">
      <img class="advantages__bubble advantages__bubble_1" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x,
      ./img/bubble/bubble@3x.webp 3x">
      <img class="advantages__bubble advantages__bubble_2" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x, ./img/bubble/bubble@3x.webp 3x">
      <source type="image/avif" srcset="./img/bubble/bubble.avif, ./img/bubble/bubble@2x.avif 2x, ./img/bubble/bubble@3x.avif 3x">
      <img class="advantages__bubble advantages__bubble_3" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x, ./img/bubble/bubble@3x.webp 3x">
      <source type="image/avif" srcset="./img/bubble/bubble.avif, ./img/bubble/bubble@2x.avif 2x, ./img/bubble/bubble@3x.avif 3x">
      <img class="advantages__bubble advantages__bubble_4" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x, ./img/bubble/bubble@3x.webp 3x">
      <source type="image/avif" srcset="./img/bubble/bubble.avif, ./img/bubble/bubble@2x.avif 2x, ./img/bubble/bubble@3x.avif 3x">
      <img class="advantages__bubble advantages__bubble_5" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
    <picture>
      <source type="image/webp" srcset="./img/bubble/bubble.webp, ./img/bubble/bubble@2x.webp 2x, ./img/bubble/bubble@3x.webp 3x">
      <source type="image/avif" srcset="./img/bubble/bubble.avif, ./img/bubble/bubble@2x.avif 2x, ./img/bubble/bubble@3x.avif 3x">
      <img class="advantages__bubble advantages__bubble_6" src="./img/bubble/bubble.png" srcset="./img/bubble/bubble@2x.png 2x, ./img/bubble/bubble@3x.png 3x"
        alt="пузырь">
    </picture>
  </div>
</section>
