<section id="contacts" class="contacts aos lazy-inner">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts-text">
        <h2 class="contacts-text__title">Контакты</h2>
        <ul class="contacts-text__list">
          <li class="contacts-text__item">
            <a class="contacts-text__item_phone" href="tel:+99999999999">+9 (999) 999 99 99</a>
          </li>
          <li class="contacts-text__item">
            <a class="contacts-text__item_email" href="mailto:email@email.com">email@email.com</a>
          </li>
          <li class="contacts-text__item">
            <span class="contacts-text__item_time">Без выходных с 9:00 до 24:00</span>
          </li>
        </ul>

        <ul class="contacts-text__social">
          <li class="contacts-text__messenger contacts-text__messenger_vk">
            <a href="https://vk.com/kerelll" target="_blank">
              <svg>
                <use href="./img/svg/vk.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-text__messenger contacts-text__messenger_insta">
            <a href="#" target="_blank">
              <svg>
                <use href="./img/svg/insta.svg#insta"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div id="map1" class="map"></div>
    </div>
    <picture>
      <source class="lazy" type="image/webp" data-srcset="./img/ax/ax.webp, ./img/ax/ax@2x.webp 2x, ./img/ax/ax@3x.webp 3x">
      <img class="contacts__ax lazy" data-src="./img/ax/ax.png" data-srcset="./img/ax/ax@2x.png 2x, ./img/ax/ax@3x.png 3x" alt="Топор">
    </picture>
  </div>
</section>
