<section id="faq" class="faq">
  <div class="container">
    <h2 class="faq__title">Часто задаваемые <strong>вопросы</strong></h2>
    <ul class="faq__list">
      <li class="faq-accordion">
        <button class="faq-accordion__control" aria-expanded="false">
          <span class="faq-accordion__title">Можно с детьми?</span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>Да конечно. Вы можете пойти с детьми на любой квест.</p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="faq-accordion__control" aria-expanded="false">
          <span class="faq-accordion__title">Сколько по времени идёт квест?</span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>
            Все наши логические квесты рассчитаны от&nbsp;30&nbsp;минут. Вы&nbsp;обязательно пройдете игру до&nbsp;конца.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
