<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback__title">Отзывы</h2>
    <div class="swiper__inner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/1.jpg" alt="Анастасия Иванова" class="swiper-slide__img">
              <span class="swiper-slide__name">Анастасия Иванова</span>
            </div>
            <h3 class="swiper-slide__title">Круто провели время</h3>
            <p class="swiper-slide__recall">
              Для современного мира граница обучения кадров не&nbsp;оставляет шанса для инновационных методов управления процессами.
            </p>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/2.jpg" alt="Алексей Петров" class="swiper-slide__img">
              <span class="swiper-slide__name">Алексей Петров</span>
            </div>
            <h3 class="swiper-slide__title">Лучший квест, где я был</h3>
            <p class="swiper-slide__recall">
              Сложно сказать, почему базовые сценарии поведения пользователей описаны максимально подробно.
            </p>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/3.jpg" alt="Анна Казакова" class="swiper-slide__img">
              <span class="swiper-slide__name">Анна Казакова</span>
            </div>
            <h3 class="swiper-slide__title">Очень довольна, была впервые</h3>
            <p class="swiper-slide__recall">
              Разнообразный и&nbsp;богатый опыт говорит нам, что перспективное планирование создаёт необходимость включения в&nbsp;производственный план целого ряда
              внеочередных мероприятий с&nbsp;учётом комплекса системы массового участия.
            </p>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/1.jpg" alt="Карина Антонова" class="swiper-slide__img">
              <span class="swiper-slide__name">Карина Антонова</span>
            </div>
            <h3 class="swiper-slide__title">Круто провели время</h3>
            <p class="swiper-slide__recall">
              Для современного мира граница обучения кадров не&nbsp;оставляет шанса для инновационных методов управления процессами.
            </p>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/2.jpg" alt="Андрей Петров" class="swiper-slide__img">
              <span class="swiper-slide__name">Андрей Петров</span>
            </div>
            <h3 class="swiper-slide__title">Лучший квест, где я был</h3>
            <p class="swiper-slide__recall">
              Сложно сказать, почему базовые сценарии поведения пользователей описаны максимально подробно.
            </p>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__header">
              <img src="./img/recalls/3.jpg" alt="Анна Казакова" class="swiper-slide__img">
              <span class="swiper-slide__name">Анна Казакова</span>
            </div>
            <h3 class="swiper-slide__title">Очень довольна, была впервые</h3>
            <p class="swiper-slide__recall">
              Разнообразный и&nbsp;богатый опыт говорит нам, что перспективное планирование создаёт необходимость включения в&nbsp;производственный план целого ряда
              внеочередных мероприятий с&nbsp;учётом комплекса системы массового участия.
            </p>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
  </div>
</section>
