<section id="first" class="first  aos">
  <div class="container">
    <div class="first__inner">
      <div class="first-text">
        <h1 class="first-text__title">Незабываемые <b>квесты</b> В Нижнем Новгороде</h1>
        <button class="first-text__btn">Забронировать</button>
      </div>
      <div class="first-photo">
        <picture>
          <source type="image/avif" srcset="./img/other/hall.avif, ./img/other/hall@2x.avif 2x, ./img/other/hall@3x.avif 3x">
          <source type="image/webp" srcset="./img/other/hall.webp, ./img/other/hall@2x.webp 2x, ./img/other/hall@3x.webp 3x">
          <img class="first-photo__hall" src="./img/other/hall.png" alt="Темный коридор" srcset="./img/other/hall@2x.png 2x, ./img/other/hall@3x.png 3x">
        </picture>
        <picture>
          <source type="image/avif" srcset="./img/hero/horror-hero.avif, ./img/hero/horror-hero@2x.avif 2x, ./img/hero/horror-hero@3x.avif 3x">
          <source type="image/webp" srcset="./img/hero/horror-hero.webp, ./img/hero/horror-hero@2x.webp 2x, ./img/hero/horror-hero@3x.webp 3x">
          <img class="first-photo__hero" src="./img/hero/horror-hero.png" alt="Главный герой" srcset="./img/hero/horror-hero@2x.png 2x, ./img/hero/horror-hero@3x.png 3x">
        </picture>
      </div>
    </div>
  </div>
</section>
