<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <span class="header__logo">Quest</span>
        <button class="header__burger">
          <span></span>
        </button>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__link"><a href="#quests">Квесты</a></li>
            <li class="menu__link"><a href="#feedback">Отзывы</a></li>
            <li class="menu__link"><a href="#faq">ЧаВо</a></li>
            <li class="menu__link"><a href="#contacts">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <a class="header__phone" href="tel:+79999999999">+7 (999) 999 99 99</a>
    </div>
  </div>
</header>
